.navbar{
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;  
    .nav_wrapper{
        align-items: center;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 40px;
        }
    }
}